In [1]:
print("Rahman Aziz Firmansyah")

Rahman Aziz Firmansyah

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as st

In [7]:
rating = pd.read_csv('rating_new.csv').drop('Unnamed: 0', axis=1)
rating.head()

,geolocation_lat,geolocation_lng,order_item_id,price,freight_value,payment_sequential,payment_installments,payment_value,product_name_lenght,product_description_lenght,...,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,shipping_limit_date,payment_type,product_category_name,seller_city,seller_state,product_category_name_english
0,-22.927008,-43.230270,1.0,183.00,16.58,1.0,4.0,199.58,23.0,922.0,...,other,other,other,other,other,credit_card,moveis_decoracao,other,other,furniture_decor
1,-22.987642,-43.228795,1.0,115.00,0.00,1.0,10.0,115.00,33.0,523.0,...,other,other,other,other,other,credit_card,other,other,SP,other
2,-22.903826,-43.177436,1.0,144.99,17.28,1.0,3.0,162.27,54.0,629.0,...,other,other,other,other,other,credit_card,other,sao paulo,SP,other
3,-22.881837,-43.358881,1.0,10.00,15.10,1.0,5.0,50.20,30.0,690.0,...,other,other,other,other,other,credit_card,other,other,SP,other
4,-8.982786,-38.222378,1.0,65.00,25.73,1.0,1.0,90.73,35.0,534.0,...,other,other,other,other,other,boleto,other,other,SP,other

In [8]:
rating.isna().sum()

geolocation_lat                    0
geolocation_lng                    0
order_item_id                      0
price                              0
freight_value                      0
payment_sequential                 1
payment_installments               1
payment_value                      1
product_name_lenght              192
product_description_lenght       192
product_photos_qty               192
product_weight_g                   5
product_length_cm                  5
product_height_cm                  5
product_width_cm                   5
label                              0
customer_city                      0
customer_state                     0
geolocation_city                   0
geolocation_state                  0
order_status                       0
order_purchase_timestamp           0
order_approved_at                  0
order_delivered_carrier_date       0
order_delivered_customer_date      0
order_estimated_delivery_date      0
shipping_limit_date                0
payment_type                       1
product_category_name              0
seller_city                        0
seller_state                       0
product_category_name_english      0
dtype: int64

In [10]:
rating.iloc[:, 8:11]

       product_name_lenght  product_description_lenght  product_photos_qty
0                     23.0                       922.0                 1.0
1                     33.0                       523.0                 3.0
2                     54.0                       629.0                 1.0
3                     30.0                       690.0                 2.0
4                     35.0                       534.0                 2.0
...                    ...                         ...                 ...
13640                 54.0                       427.0                 1.0
13641                 54.0                       245.0                 1.0
13642                 58.0                       945.0                 1.0
13643                  NaN                         NaN                 NaN
13644                 60.0                      1957.0                 1.0

[13645 rows x 3 columns]

In [14]:
df = pd.read_csv('model_development_set.csv')
df.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,...,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix,seller_city,seller_state,product_category_name_english,label
0,8b9f55ee19f0356ba6b3f03485e6922d,bc7b9e0d078c0c01f622b38cfcd7ee9c,20521.0,rio de janeiro,RJ,20521.0,-22.927008,-43.230270,rio de janeiro,RJ,...,1.0,850.0,16.0,19.0,15.0,71070.0,brasilia,DF,furniture_decor,0
1,5dddbfbf5ba7c90dcb52c18d7835b756,2004ba7732339d9be65f2236d8887ae4,22450.0,rio de janeiro,RJ,22450.0,-22.987642,-43.228795,rio de janeiro,RJ,...,3.0,584.0,16.0,11.0,13.0,14050.0,ribeirao preto,SP,watches_gifts,1
2,c7f26440b498a90f758f26eda34f1801,e64711458e5538f51bc01c3388443450,20040.0,rio de janeiro,RJ,20040.0,-22.903826,-43.177436,rio de janeiro,RJ,...,1.0,1050.0,36.0,24.0,22.0,3426.0,sao paulo,SP,cool_stuff,1
3,05e86ce92eb1b627c2296627078d237c,480ca1a9f688a4c482177efdeeb5c3a3,21330.0,rio de janeiro,RJ,21330.0,-22.881837,-43.358881,rio de janeiro,RJ,...,2.0,500.0,25.0,9.0,18.0,12250.0,monteiro lobato,SP,food_drink,1
4,552215a43eb8963b5ea631bde3e63bc5,dbc6ce0dfea576d88ea65af28d09b69e,56460.0,petrolandia,PE,56460.0,-8.982786,-38.222378,petrolandia,PE,...,2.0,200.0,20.0,10.0,20.0,12327.0,jacarei,SP,cool_stuff,1

In [19]:
df.select_dtypes('object').columns

Index(['customer_id', 'customer_unique_id', 'customer_city', 'customer_state',
       'geolocation_city', 'geolocation_state', 'order_id', 'order_status',
       'order_purchase_timestamp', 'order_approved_at',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date', 'product_id', 'seller_id',
       'shipping_limit_date', 'payment_type', 'product_category_name',
       'seller_city', 'seller_state', 'product_category_name_english'],
      dtype='object')

In [18]:
df['shipping_limit_date'].dtype

dtype('O')